* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-background {
  background-image: url("./assests/images/pattern-background-desktop.svg");
  width: 100%;
  height: 850px;
  background-repeat: no-repeat;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: hsl(225, 100%, 94%);
}

@media screen(min-width:320px) and (max-width: 480px) {
  .card-background {
    background-image: url("./assests/images/pattern-background-desktop.svg");
    width: 100%;
    height: 850px;
  }
}
